<!-- facebook javascript code-->

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=549094108454486";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<!-- facebook javascript code-->
<div class="header_area">
  <div class="centre header">
    <div class="logo fix floatleft">
        <a href="/">
          <img src="images/logo.png" alt="logo"/>
        </a>
    </div>
    <div class="menu_area floatright">
      <div class="fix search_site">
        <form>
          <p><input type="text" class="search" placeholder="Ask for rums"/><input type="submit" class="search_icon" value="search"/></p>
        </form>
        <div class="top_social fix">
          <ul>
            <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="top_menu">
        <ul id="nav">
          <li><a href="/index">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="">Pages <i class="fa fa-caret-down"></i></a>
            <ul>
              <li><a href="/index">Vacant Rums</a></li>
              <li><a href="/toBe">To Be Vacant</a></li>
              <li><a href="/agent">Agents</a></li>
              <li><a href="/about">About Us</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/admin">Admin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
